<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<div layout:fragment="content" class="bg-white px-6 pt-6 border-b" style="position:fixed;width: -webkit-fill-available">
    <h2 class="text-xl font-semibold mb-4">Quản lý nhân viên</h2>

<!--    <div class="mb-6">-->
<!--        <button class="bg-blue-600 text-white p-2 mr-4 rounded text-sm">Phân công lịch làm</button>-->
<!--    </div>-->

    <div class="row">
        <div class="mb-6 col-3">
            <button onclick="window.location.href ='/user/create'" class="bg-green-600 text-white p-2 mr-4 rounded text-sm">Tạo tài khoản</button>
        </div>
        <div class="mb-6 col-3">
            <button onclick="window.location.href ='/employee/schedule'" class="bg-yellow-600 text-white p-2 mr-4 rounded text-sm">Cập nhật ca làm</button>
        </div>
    </div>


    <div class=" bg-white bg-white mb-4 overflow-auto">
        <table id="myTable" class="min-w-full table-auto border-collapse">
            <thead class="bg-gray-200">
            <tr>
                <th class="border px-4 py-2 text-left">#</th>
                <th class="border px-4 py-2 text-left">Họ tên</th>
                <th class="border px-4 py-2 text-left">SDT</th>
                <th class="border px-4 py-2 text-left">Email</th>
                <th class="border px-4 py-2 text-left">Chức vụ</th>
                <th class="border px-4 py-2 text-left"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item, stat : ${nhanviens}" class="odd:bg-white even:bg-gray-50">
                <td class="border px-4 py-2" th:text="${stat.index + 1}"></td>
                <td class="border px-4 py-2" th:text="${item.tenNV}"></td>
                <td class="border px-4 py-2" th:text="${item.sdtNV}"></td>
                <td class="border px-4 py-2" th:text="${item.emailNV}"></td>
                <td class="border px-4 py-2" th:text="${item.vaiTro}"></td>
                <td class="border px-4 py-2 space-x-2">
                    <a th:href="@{/user/edit/{id}(id=${item.maNV})}" class="text-blue-600 hover:underline">Sửa</a>
                    <!--                    <a th:href="@{/user/edit/{id}(id=${user.maNV})}" class="text-red-600 hover:underline">Xóa</a>-->
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div layout:fragment="scripts">
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('employeeId')?.classList.add('font-bold', 'text-blue-800');
        });
        $('#myTable').DataTable({
          language: {
            search: "Tìm kiếm:",
            paginate: {
              previous: "Trước",
              next: "Sau"
            }
          }
        });
    </script>
</div>
</html>