<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<div layout:fragment="content" class="bg-white px-6 pt-6 border-b" style="width: -webkit-fill-available">
    <h2 class="text-xl font-semibold mb-4">Thanh toán và hoá đơn</h2>


    <div class=" bg-white bg-white mb-4 overflow-auto">
        <table id="myTable" class="min-w-full table-auto border-collapse">
            <thead class="bg-gray-200">
            <tr>
                <th class="border px-4 py-2 text-left">#</th>
                <th class="border px-4 py-2 text-left">Ngày cập nhật</th>
                <th class="border px-4 py-2 text-left">Khách hàng</th>
                <th class="border px-4 py-2 text-left">Thành tiền</th>
                <th class="border px-4 py-2 text-left">PTTT</th>
                <th class="border px-4 py-2 text-left">Nhân viên</th>
                <th class="border px-4 py-2 text-left"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item, stat : ${listHD}" class="odd:bg-white even:bg-gray-50">
                <td class="border px-4 py-2" th:text="${stat.index + 1}"></td>
                <td class="border px-4 py-2" th:text="${item.ngayLap}"></td>
                <td class="border px-4 py-2" th:text="${item.tenKH}"></td>
                <td class="border px-4 py-2" th:text="${item.tongTien}"></td>
                <td class="border px-4 py-2" th:text="${item.pttt}"></td>
                <td class="border px-4 py-2" th:text="${item.nhanVien}"></td>
                <td class="border px-4 py-2 space-x-2">
                    <a th:href="@{/order/detail/{id}(id=${item.maDD})}" class="text-blue-600 hover:underline">Chi tiết</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div layout:fragment="scripts">
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('PaymentId')?.classList.add('font-bold', 'text-blue-800');
        });
        $('#myTable').DataTable({
          language: {
            search: "Tìm kiếm:",
            paginate: {
              previous: "Trước",
              next: "Sau"
            }
          }
        });
    </script>
</div>
</html>