<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<div layout:fragment="content" class="bg-white px-6 pt-6 border-b" style="width: -webkit-fill-available">
    <h2 class="text-xl font-semibold mb-4">Sửa sản phẩm</h2>

    <div class=" bg-white bg-white mb-4">
        <form th:action="@{/product/edit}" th:object="${sanphamDTO}" method="post" class="space-y-5">

            <div class="row">
                <div class="col-6">
                    <input th:field="*{maSP}" type="text" hidden/>
                    <label class="block mb-1 font-medium text-gray-700">Tên sản phẩm</label>
                    <input required type="text" th:field="*{tenSP}" placeholder="Tên sản phẩm"
                           class="w-full border px-4 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500" />
                </div>

                <div class="col-6">
                    <label class="block mb-1 font-medium text-gray-700">Loại sản phẩm</label>
                    <select required th:field="*{maLSP}" class="w-full border px-4 py-2 rounded-md">
                        <option th:each="lsp : ${listLoai}"
                                th:value="${lsp.maLoaiSP}"
                                th:text="${lsp.tenLoaiSP}">
                        </option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <label class="block mb-1 font-medium text-gray-700">Đơn giá (đ)</label>
                    <input required type="number" th:field="*{donGia}" placeholder="Nhập đơn giá"
                           class="w-full border px-4 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500" />
                </div>

                <div class="col-6">
                    <label class="block mb-1 font-medium text-gray-700">Đơn vị tính</label>
                    <select required th:field="*{donviTinh}" class="w-full border px-4 py-2 rounded-md">
                        <option value="Ly">Ly</option>
                        <option value="Phần">Phần</option>
                        <option value="Cái">Cái</option>
                        <option value="Tô">Tô</option>
                        <option value="Chai">Chai</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <label class="block mb-1 font-medium text-gray-700">Trạng thái</label>
                    <select required th:field="*{trangThai}" class="w-full border px-4 py-2 rounded-md">
                        <option value="Còn bán">Còn bán</option>
                        <option value="Hết hàng">Hết hàng</option>
                    </select>
                </div>

            </div>

            <div class="row">
                <div class="">
                    <input required type="file" id="imageInput" accept="image/*"
                           class="block w-full text-sm text-gray-700 border border-gray-300 rounded-lg cursor-pointer focus:outline-none file:mr-4 file:py-2 file:px-4
                  file:rounded-full file:border-0 file:text-sm file:font-semibold
                  file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100" />

                    <div id="previewContainer" class="mt-4">
                        <p class="text-sm text-gray-500 mb-1">Ảnh xem trước:</p>
                        <input hidden id="imgInput" th:field="*{hinhAnh}"/>
                        <img id="preview" alt="Preview" th:src="*{hinhAnh}" class="max-h-60 object-contain border border-gray-200 rounded-lg shadow-sm" />
                    </div>
                </div>
            </div>


            <button type="submit"
                    class="w-full bg-orange-500 hover:bg-orange-600 text-white font-semibold py-2 rounded-md transition">
                Lưu thông tin
            </button>

        </form>
    </div>
</div>

<!--<div layout:fragment="scripts">-->
<!--    <script>-->
<!--    </script>-->
<!--</div>-->
</html>