<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<div layout:fragment="content" class="bg-white px-6 pt-6 border-b" style="width: -webkit-fill-available">
    <h2 class="text-xl font-semibold mb-4">Quản lý sản phẩm</h2>

    <div class="mb-6">
        <button onclick="window.location.href ='/product/create'" class="bg-green-600 text-white p-2 mr-4 rounded text-sm">Tạo mới</button>
    </div>

    <div class=" bg-white bg-white mb-4 overflow-auto">
        <table id="myTable" class="min-w-full table-auto border-collapse">
            <thead class="bg-gray-200">
            <tr>
                <th class="border px-4 py-2 text-left">#</th>
                <th class="border px-4 py-2 text-left">Tên</th>
                <th class="border px-4 py-2 text-left">Hình ảnh</th>
                <th class="border px-4 py-2 text-left">Đơn giá (đ)</th>
                <th class="border px-4 py-2 text-left">Đơn vị tính</th>
                <th class="border px-4 py-2 text-left">Trạng thái</th>
                <th class="border px-4 py-2 text-left">Tên loại SP</th>
                <th class="border px-4 py-2 text-left"></th>
            </tr>
            </thead>
            <tbody id="tbody">
            <tr th:each="item, stat : ${listResult}" class="odd:bg-white even:bg-gray-50">
                <td class="border px-4 py-2" th:text="${stat.index + 1}"></td>
                <td class="border px-4 py-2" th:text="${item.tenSP}"></td>
                <td class="border px-4 py-2"><img style="width:50px;height:50px" th:src="${item.hinhAnh}" alt="hinh anh"/></td>
                <td class="border px-4 py-2" th:text="${item.donGiaText}"></td>
                <td class="border px-4 py-2" th:text="${item.donviTinh}"></td>
                <td class="border px-4 py-2" th:text="${item.trangThai}"></td>
                <td class="border px-4 py-2" th:text="${item.tenLoaiSP}">
                <td class="border px-4 py-2 space-x-2">
                    <a th:href="@{/product/dsNguyenLieu/{id}(id=${item.maSP})}" class="text-green-600 hover:underline">Nguyên liệu</a>
                    <a th:href="@{/product/edit/{id}(id=${item.maSP})}" class="text-blue-600 hover:underline">Sửa</a>
                    <a th:href="@{/product/delete/{id}(id=${item.maSP})}" class="text-red-600 hover:underline">Xóa</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div layout:fragment="scripts">
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('producNavId')?.classList.add('font-bold', 'text-blue-800');
        });
        $('#myTable').DataTable({
          language: {
            search: "Tìm kiếm:",
            paginate: {
              previous: "Trước",
              next: "Sau"
            }
          }
        });
    </script>
</div>
</html>