<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<div layout:fragment="content" class="bg-white px-6 pt-6 border-b" style="width: -webkit-fill-available">
  <h2 class="text-xl font-semibold mb-4">Thêm sản phẩm</h2>

  <div class=" bg-white bg-white mb-4">
    <form th:action="@{/order/detail/createctSP}" th:object="${ctSanPhamDTO}" method="post" class="space-y-5">
      <input hidden type="text" th:field="*{maDD}"
             class="w-full border px-4 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500" />
      <div class="row">
        <div class="col-4">
          <label class="block mb-1 font-medium text-gray-700">Sản phẩm</label>
          <select required id="maSP" th:field="*{maSP}" class="w-full border px-4 py-2 rounded-md">
            <option th:each="item : ${listResultSP}"
                    th:data-donGia="${item.donGia}"
                    th:value="${item.maSP}"
                    th:text="${item.tenSP}">
            </option>
          </select>
        </div>

        <div class="col-4">
          <label class="block mb-1 font-medium text-gray-700">Đơn giá</label>
          <input disabled required type="number" id="donGia"
                 class="w-full border px-4 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500" />
        </div>

        <div class="col-4">
          <label class="block mb-1 font-medium text-gray-700">Số lượng</label>
          <input required type="number" th:field="*{soLuong}" placeholder="Tên sản phẩm"
                 class="w-full border px-4 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500" />
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <label class="block mb-1 font-medium text-gray-700">Ghi chú</label>
          <input type="text" th:field="*{ghiChu}"
                 class="w-full border px-4 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500" />
        </div>
      </div>

      <button type="submit"
              class="w-full bg-orange-500 hover:bg-orange-600 text-white font-semibold py-2 rounded-md transition">
        Lưu thông tin
      </button>

      <button type="button" onclick="quaylai()"
              class="w-full bg-gray-500 hover:bg-gray-600 text-white font-semibold py-2 rounded-md transition">
        Quay lại
      </button>

    </form>
  </div>
</div>

<div layout:fragment="scripts">
    <script>
       document.addEventListener('DOMContentLoaded', function () {
        const select = document.getElementById('maSP');
        const donGiaInput = document.getElementById('donGia');

        function updateDonGia() {
          const selectedOption = select.options[select.selectedIndex];
          const donGia = selectedOption.getAttribute('data-donGia');
          donGiaInput.value = donGia || '';
        }

        updateDonGia();

        select.addEventListener('change', updateDonGia);
      });

       function quaylai(){
         const url = window.location.href;
         const parts = url.split("/");
         const id = parts[5];
         window.location.href = '/order/detail/' + id;
        }

    </script>
</div>
</html>