<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<div layout:fragment="content" class="bg-white px-6 pt-6 border-b" style="width: -webkit-fill-available">
  <h2 class="text-xl font-semibold mb-4">Cập nhật sản phẩm</h2>

  <div class=" bg-white bg-white mb-4">
    <form th:action="@{/order/detail/createctSP}" th:object="${ctSanPhamDTO}" method="post" class="space-y-5">
      <input hidden type="text" th:field="*{maDD}"
             class="w-full border px-4 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500" />
      <div class="row">
        <div class="col-4">
          <input hidden type="text" th:field="*{maSP}"/>
          <label class="block mb-1 font-medium text-gray-700">Sản phẩm</label>
          <select disabled required th:field="*{maSP}" class="w-full border px-4 py-2 rounded-md">
            <option th:each="item : ${listResultSP}"
                    th:data-donGia="${item.donGia}"
                    th:value="${item.maSP}"
                    th:selected="${item.maSP == maSP}"
                    th:text="${item.tenSP}">
            </option>
          </select>
        </div>

        <div style="display:none" class="col-4">
          <label class="block mb-1 font-medium text-gray-700">Đơn giá</label>
          <input disabled required type="number" id="donGia"
                 class="w-full border px-4 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500" />
        </div>

        <div class="col-2">
          <label class="block mb-1 font-medium text-gray-700">Số lượng</label>
          <input required type="number" th:field="*{soLuong}" placeholder="Tên sản phẩm"
                 class="w-full border px-4 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500" />
          <span id="error"  class="text-red-500 text-sm"></span>
        </div>

        <div class="col-2">
          <label class="block mb-1 font-medium text-gray-700">&nbsp;</label>
          <button onclick="kiemTra2()" type="button"
                  class="w-full bg-orange-500 hover:bg-orange-600 text-white font-semibold py-2 rounded-md transition">
            Kiểm tra
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <label class="block mb-1 font-medium text-gray-700">Ghi chú</label>
          <input type="text" th:field="*{ghiChu}"
                 class="w-full border px-4 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500" />
        </div>
      </div>

      <button type="submit"
              class="w-full bg-orange-500 hover:bg-orange-600 text-white font-semibold py-2 rounded-md transition">
        Lưu thông tin
      </button>

    </form>
  </div>
</div>

<div layout:fragment="scripts">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
      function kiemTra2(){
           let amount = document.getElementById('soLuong').value;
           let maSP = document.getElementById('maSP').value;
           document.getElementById('error').innerText = '';
           $.ajax({
              url: '/order/ktTonKho',
              type: 'POST',
              data: { maSP: maSP, amount:amount },
              success: function(response) {
                  console.log(response);
                  if(response != "Có"){
                      document.getElementById('error').innerText = response;
                      document.getElementById('soLuong').value = 0;
                  }
                  else alert('Đầy đủ nguyên liệu');
              },
              error: function(xhr, status, error) {
                  console.error(error);
                  alert('Có lỗi xảy ra');
              }
          });
      }
       document.addEventListener('DOMContentLoaded', function () {
        const select = document.getElementById('maSP');
        const donGiaInput = document.getElementById('donGia');

        function updateDonGia() {
            const value = select.value;
            const selectedOption = select.querySelector(`option[value="${value}"]`);

            if (selectedOption) {
              const donGia = selectedOption.getAttribute('data-donGia');
              donGiaInput.value = donGia || '';
            }
        }

        updateDonGia();

        select.addEventListener('change', updateDonGia);
      });
    </script>
</div>
</html>